<header>
  <div class="nav">
    <a href="/" class="brand" aria-label="Ir al inicio">
      <img class="icon" src="/image/icon.png" alt="Inbyte icono">
      <img class="text" src="/image/text.png" alt="Inbyte Soluciones Tecnológicas">
    </a>
    <nav class="navlinks">
      <a href="/pages/planes.html">Planes</a>
      <a href="/pages/servicios.html">Servicios</a>
      <a href="/pages/cobertura.html">Cobertura</a>
      <a href="/pages/blog.html">Blog</a>
      <a href="/pages/nosotros.html">Quiénes somos</a>
    </nav>
    <a class="btn btn-primary" href="/pages/contacto.html">Contactar</a>
  </div>
</header>